body {
  padding-top: 50px;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

html {
  position: relative;
  min-height: 100%;
}

.index {
  padding: 100px 15px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body > .container {
  padding: 0 15px 60px;
}

.container .page-header {
  margin-top: 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
